* {
  box-sizing: border-box;
  /* margin: 0; */
  padding: 0;
}

li,
a {
  text-decoration: none;
  color: #000000;
}

#logo {
  cursor: pointer;
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  background-color: #ffffff;
  box-shadow: 1px 0 20px rgba(0, 0, 0, 0.3);
  padding: 5px 10px;
}

nav ul li {
  /* display: inline-block; */
  list-style: none;
  margin: 10px;
}
